checkpoint_pre_trained/**/* filter=lfs diff=lfs merge=lfs -text
checkpoint_pre_trained/ami/esharc/model_20_snapshot.pth filter=lfs diff=lfs merge=lfs -text
checkpoint_pre_trained/voxconverse/esharc/librivox_nonoverlap_sampler_6_PLDA_e2e_fulltrain.pth_20_snapshot.pth filter=lfs diff=lfs merge=lfs -text
